Agenda 
    K Nearest Algorithm for Classification and Regression
    Prefomance Analysis
    GridSearchCV
    PipeLines

In [22]:
import pandas as pd
from sklearn.model_selection import  train_test_split,GridSearchCV
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import r2_score,mean_squared_error
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

In [2]:
housing = pd.read_csv('./datasets/USA Housing Dataset.csv')
housing.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-09 00:00:00,376000.0,3.0,2.00,1340,1384,3.0,0,0,3,1340,0,2008,0,9245-9249 Fremont Ave N,Seattle,WA 98103,USA
1,2014-05-09 00:00:00,800000.0,4.0,3.25,3540,159430,2.0,0,0,3,3540,0,2007,0,33001 NE 24th St,Carnation,WA 98014,USA
2,2014-05-09 00:00:00,2238888.0,5.0,6.50,7270,130017,2.0,0,0,3,6420,850,2010,0,7070 270th Pl SE,Issaquah,WA 98029,USA
3,2014-05-09 00:00:00,324000.0,3.0,2.25,998,904,2.0,0,0,3,798,200,2007,0,820 NW 95th St,Seattle,WA 98117,USA
4,2014-05-10 00:00:00,549900.0,5.0,2.75,3060,7015,1.0,0,0,5,1600,1460,1979,0,10834 31st Ave SW,Seattle,WA 98146,USA

In [7]:
#dropping some columns 
housing.drop(columns = ['date','street','city','statezip','country'],inplace=True)
housing.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
0,376000.0,3.0,2.00,1340,1384,3.0,0,0,3,1340,0,2008,0
1,800000.0,4.0,3.25,3540,159430,2.0,0,0,3,3540,0,2007,0
2,2238888.0,5.0,6.50,7270,130017,2.0,0,0,3,6420,850,2010,0
3,324000.0,3.0,2.25,998,904,2.0,0,0,3,798,200,2007,0
4,549900.0,5.0,2.75,3060,7015,1.0,0,0,5,1600,1460,1979,0

In [8]:
housing.isnull().sum()

price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
dtype: int64

In [13]:
# splitting the data
X = housing.drop(columns=['price'])
y = housing['price']
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=.2,random_state=42)

In [17]:
k_reg_model = KNeighborsRegressor(n_neighbors=10)
k_reg_model.fit(x_train,y_train)
y_pred = k_reg_model.predict(x_test)

k_reg_model_R2_score = r2_score(y_pred,y_test)
k_reg_model_mean_squared_error = mean_squared_error(y_pred,y_test)
print(f'R2 Score :{k_reg_model_R2_score}')
print(f'Mean Squared Error :{k_reg_model_mean_squared_error}')

# R2 Score :-0.7134714377629374
# Mean Squared Error :86036591803.18825
# this model performed too bad so I need to scale the data and and tune n_neighbors

R2 Score :-0.7134714377629374
Mean Squared Error :86036591803.18825

In [20]:
pipe = Pipeline([
    ('scaler',StandardScaler()),
    ('knn',KNeighborsRegressor(n_neighbors=5))
])
pipe.fit(x_train,y_train)
y_pred = pipe.predict(x_test)


k_reg_model_R2_score = r2_score(y_pred,y_test)
k_reg_model_mean_squared_error = mean_squared_error(y_pred,y_test)
print(f'R2 Score :{k_reg_model_R2_score}')
print(f'Mean Squared Error :{k_reg_model_mean_squared_error}')

# R2 Score :-0.21726637274721838
# Mean Squared Error :64672949253.72137

# this model perfomed somewhat better but even now it is bad

R2 Score :-0.21726637274721838
Mean Squared Error :64672949253.72137

In [23]:
#Hyper Parameter tuning using GridSearch CV

pipe = Pipeline([
    ('scaler',StandardScaler()),
    ('knn',KNeighborsRegressor(n_neighbors=5))
])

param_grid = {
    'scaler':[StandardScaler()],
    'knn__n_neighbors':[3,5,7,9,11],
    "knn_weights":['uniform','distance'],
    "knn__mteric":['euclidean','manhattan']
}

grid = GridSearchCV(pipe,param_grid=param_grid,cv =5,)