In [ ]:
# modules we'll use
import pandas as pd
import numpy as np

# for Box-Cox Transformation
from scipy import stats

# for min_max scaling
from mlxtend.preprocessing import minmax_scaling

# plotting modules
import seaborn as sns
import matplotlib.pyplot as plt

# read in all our data
#for practice 1
# kickstarters_2017 = pd.read_csv("./datasets/ks-projects-201801.csv")
# For practice two
weather = pd.read_csv('./datasets/weatherHistory.csv')

# set seed for reproducibility
np.random.seed(0)

In [ ]:
kickstarters_2017.head()

In [ ]:
index_of_pledged = kickstarters_2017.pledged > 0
positive_pledges = kickstarters_2017.pledged.loc[index_of_pledged]
# positive_pledges
normalized_pledges = pd.Series(stats.boxcox(positive_pledges)[0],name = 'realPledges',index=positive_pledges.index)
# np.mean(normalized_pledges)
ax = sns.histplot(normalized_pledges,kde = True)
ax.set_title('Normalized Data')
# plt.show()

In [ ]:
original_visibilty_data = pd.DataFrame(weather['Visibility (km)'])
scaled_data = minmax_scaling(oroginal_visibilty_data,columns=['Visibility (km)'])
scaled_data

In [ ]:
# weather.describe()
#plotting Apparetn temperature
# ax = sns.histplot(weather['Humidity'],kde = True)
# original_temp = pd.DataFrame(weather['Humidity'])
# scaled_temp = minmax_scaling(scaled_temp,columns=['Humidity'])
# ax = sns.histplot(scaled_temp,kde = True)

index_p = weather.Humidity>0
postive_humidity = weather.Humidity.loc[index_p]
# ax = sns.histplot(postive_humidity)
# normalized_humidity = pd.Series(stats.boxcox(postive_humidity)[0],name = 'Humidity',index=postive_humidity.index)
# ax = sns.histplot(normalized_humidity)
# scaled_data = minmax_scaling(normalized_humidity,columns=['postive_humidity'])
normalized_humidity.describe()
# postive_humidity
# scaled_temp.shape
# normalized_temp = stats.boxcox(scaled_temp)
# scaled_temp

In [ ]:
import pandas as pd
mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
          {'a': 100, 'b': 200, 'c': 300, 'd': 400},
          {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000}]
df = pd.DataFrame(mydict)

In [ ]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve', 'Frank', 'Grace', 'Hank', 'Ivy', 'Jack'],
    'Age': [24, 27, 22, 32, 29, 41, 36, 25, 28, 30],
    'Department': ['HR', 'IT', 'Finance', 'HR', 'IT', 'Finance', 'HR', 'Finance', 'IT', 'HR'],
    'Salary': [50000, 60000, 55000, 58000, 62000, 75000, 70000, 72000, 63000, 59000],
    'Joining_Date': ['2020-01-15', '2019-07-19', '2021-03-01', '2018-11-23', '2020-09-17', '2015-05-12', '2017-02-09', '2016-08-25', '2019-12-01', '2021-06-30'],
    'Experience_Years': [3, 5, 2, 10, 8, 15, 12, 7, 6, 4]
}

df = pd.DataFrame(data)
df['Joining_Date'] = pd.to_datetime(df['Joining_Date'])  # Convert dates to datetime
df.head()

In [ ]:
'''Basic Slicing
'''

#Select the first 5 rows of the DataFrame.
df.loc[0:2]
#Display only the "Name" and "Age" columns.
df[['Name','Age']]
#Retrieve the row at index 3 (Diana).
df.loc[3]

In [ ]:
# Conditional Filtering


# Select rows where the "Department" is "HR".
d = df.Department == 'HR'
df.loc[d]
# Filter employees who earn more than 60,000.
index = df.Salary > 60000
df.loc[index]
# Find all employees who joined after January 1, 2020.
index = df.Joining_Date > 'January 1, 2020'
df.loc[index]

In [ ]:
# Combination Filters

# Retrieve employees from the "IT" department who have more than 5 years of experience.
index = (df['Department'] =='IT') & (df['Experience_Years']>5)
df.loc[index]
# Select employees who are under 30 years old and have salaries above 60,000.
df.loc[(df['Age']<30)&(df['Salary']>60000)]
# Find employees who are either in the "Finance" department or have more than 10 years of experience.
df.loc[(df['Department']=='Finance') | (df['Experience_Years']>10)]

In [ ]:
# Indexing

# Set "Name" as the index and retrieve details for "Grace".
other = df.set_index('Name')
other.loc['Grace']
# Reset the index back to the default after indexing by "Name".
# 
# df = df.reset_index()
print(df)

In [ ]:
# Advanced Slicing

# Retrieve the "Name" and "Salary" columns for employees with indices from 2 to 6.
df.loc[2:6][['Name','Salary']]
# Use .iloc to get the 2nd, 4th, and 6th rows.
df.iloc[[1,3,5]]
# Use .loc to select rows where "Age" is between 25 and 35 and display only "Name" and "Age".
df.loc[(df['Age']<35)&(df['Age']>25)][['Name','Age']]

In [ ]:
# Groupby and Aggregations

# Group the data by "Department" and calculate the average salary for each department.
#some other functions on grupy object
df.groupby('Department')['Salary'].min()
df.groupby('Department')['Salary'].max()
df.groupby('Department')['Salary'].std()
df.groupby('Department')['Salary'].mean()
df.groupby('Department')['Salary'].sum()
df.groupby('Department')['Salary'].count()
df.groupby('Department')['Salary'].agg(['mean','sum','max',"min"])
# Count the number of employees in each department.
df.groupby('Department')['Name'].count()

In [31]:
# Sorting

# Sort the DataFrame by "Salary" in descending order.
df_ = df.sort_values(by = 'Salary',ascending=False)
df_
# Sort the DataFrame first by "Department" and then by "Age".
df__ = df.sort_values(by = ['Department','Age'])
df__

      Name  Age Department  Salary Joining_Date  Experience_Years
2  Charlie   22    Finance   55000   2021-03-01                 2
7     Hank   25    Finance   72000   2016-08-25                 7
5    Frank   41    Finance   75000   2015-05-12                15
0    Alice   24         HR   50000   2020-01-15                 3
9     Jack   30         HR   59000   2021-06-30                 4
3    Diana   32         HR   58000   2018-11-23                10
6    Grace   36         HR   70000   2017-02-09                12
1      Bob   27         IT   60000   2019-07-19                 5
8      Ivy   28         IT   63000   2019-12-01                 6
4      Eve   29         IT   62000   2020-09-17                 8